{% extends "base.html" %}

{% block title %}Midterm Page{% endblock %}

{% block content %}
    <h2>Total Score: {{ total_score }}</h2>
    <div class="row">
        {% for filename, score in images %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ url_for('uploaded_file', user_id=user_id, filename=filename) }}" class="card-img-top" alt="Page {{ filename.split('.')[0] }}">
                    <div class="card-body">
                        <p class="card-text">Score: {{ score }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
